<div>
    <h2 data-translate="dlFinancialControlApp.accountName.home.title">Account Names</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="account-name.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dlFinancialControlApp.accountName.home.createLabel">
                        Create new Account Name
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="dlFinancialControlApp.accountName.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="dlFinancialControlApp.accountName.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountTypeId"><span data-translate="dlFinancialControlApp.accountName.accountType">Account Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="accountName in vm.accountNames track by accountName.id">
                    <td><a ui-sref="account-name-detail({id:accountName.id})">{{accountName.id}}</a></td>
                    <td>{{accountName.description}}</td>
                    <td>
                        {{accountName.userId}}
                    </td>
                    <td>
                        <a ui-sref="account-type-detail({id:accountName.accountTypeId})">{{accountName.accountTypeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="account-name-detail({id:accountName.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="account-name.edit({id:accountName.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="account-name.delete({id:accountName.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
