
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTransactionLabel" data-translate="dlFinancialControlApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.transaction.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.transactionType" for="field_transactionType">Transaction Type</label>
            <select class="form-control" name="transactionType" ng-model="vm.transaction.transactionType" id="field_transactionType">
                <option value="INPUT" data-translate="dlFinancialControlApp.TransactionType.INPUT">INPUT</option>
                <option value="OUTPUT" data-translate="dlFinancialControlApp.TransactionType.OUTPUT">OUTPUT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.transaction.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.ordination" for="field_ordination">Ordination</label>
            <input type="number" class="form-control" name="ordination" id="field_ordination"
                    ng-model="vm.transaction.ordination"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.transaction.number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.transaction.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.additionalInfo" for="field_additionalInfo">Additional Info</label>
            <input type="text" class="form-control" name="additionalInfo" id="field_additionalInfo"
                    ng-model="vm.transaction.additionalInfo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.transaction.amount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.isDivided" for="field_isDivided">Is Divided</label>
                <input type="checkbox" name="isDivided" id="field_isDivided"
                          ng-model="vm.transaction.isDivided"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dlFinancialControlApp.transaction.isTransfer" for="field_isTransfer">Is Transfer</label>
                <input type="checkbox" name="isTransfer" id="field_isTransfer"
                          ng-model="vm.transaction.isTransfer"/>
        </div>

        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.transaction.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.installmentGroup" for="field_installmentGroup">Installment Group</label>
            <select class="form-control" id="field_installmentGroup" name="installmentGroup" ng-model="vm.transaction.installmentGroup" ng-options="installmentGroup as installmentGroup.id for installmentGroup in vm.installmentgroups track by installmentGroup.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.creditCardInvoice" for="field_creditCardInvoice">Credit Card Invoice</label>
            <select class="form-control" id="field_creditCardInvoice" name="creditCardInvoice" ng-model="vm.transaction.creditCardInvoice" ng-options="creditCardInvoice as creditCardInvoice.id for creditCardInvoice in vm.creditcardinvoices track by creditCardInvoice.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.transaction.owner" ng-options="transaction as transaction.id for transaction in vm.transactions track by transaction.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.source" for="field_source">Source</label>
            <select class="form-control" id="field_source" name="source" ng-model="vm.transaction.source" ng-options="transaction as transaction.id for transaction in vm.transactions track by transaction.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.transaction.category" ng-options="category as category.id for category in vm.categories track by category.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.transaction.client" ng-options="client as client.id for client in vm.clients track by client.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="dlFinancialControlApp.transaction.account" for="field_account">Account</label>
            <select class="form-control" id="field_account" name="account" ng-model="vm.transaction.account" ng-options="accountName as accountName.id for accountName in vm.accountnames track by accountName.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
