<div>
    <h2 data-translate="dlFinancialControlApp.creditCardInvoice.home.title">Credit Card Invoices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="credit-card-invoice.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="dlFinancialControlApp.creditCardInvoice.home.createLabel">
                        Create new Credit Card Invoice
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'dlFinancialControlApp.creditCardInvoice.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="dlFinancialControlApp.creditCardInvoice.year">Year</span></th>
                    <th><span data-translate="dlFinancialControlApp.creditCardInvoice.month">Month</span></th>
                    <th><span data-translate="dlFinancialControlApp.creditCardInvoice.account">Account</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="creditCardInvoice in vm.creditCardInvoices track by creditCardInvoice.id">
                    <td><a ui-sref="credit-card-invoice-detail({id:creditCardInvoice.id})">{{creditCardInvoice.id}}</a></td>
                    <td>{{creditCardInvoice.year}}</td>
                    <td>{{creditCardInvoice.month}}</td>
                    <td>
                        <a ui-sref="account-name-detail({id:creditCardInvoice.account.id})">{{creditCardInvoice.account.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="credit-card-invoice-detail({id:creditCardInvoice.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="credit-card-invoice.edit({id:creditCardInvoice.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="credit-card-invoice.delete({id:creditCardInvoice.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
